
node_modules/*
dist/*
*.onnx
public/opt-squeeze.onnx
public/imf_encoder.onnx
public/imf_simple.onnx
package-lock.json
mymodel_quantized_optimized.pt
model.onnx
mymodel_optimized.pt
model-infer.onnx
public/quantized_imf_encoder_fixed.onnx
public/quantized_imf_encoder_web.onnx
public/checkpoint.pth
